{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
	<div class="row justify-content-center">
		<div class="col-lg-9">
			<h1 class="mt-0">{{ .Title }}</h1>
		</div>
		<div class="col-lg-9 col-xl-8">
			<p class="lead">{{ .Params.lead | safeHTML }}</p>
			{{- .Content -}}
		</div>
	</div>
	<div class="row mx-auto col-16">
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/margaux">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/margaux">Margaux de Roquefeuil</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Business Développeuse</h6>
					<p class="card-text">Référente</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/pierrick">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/pierrick">Pierrick Houdeville</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Consultant</h6>
					<p class="card-text">Référent</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/simon">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/simon">Simon Mencarelli</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Multi-entrepreneur</h6>
					<p class="card-text">Référent</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/florent">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/florent">Florent Pigout</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
					<p class="card-text">Référent</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/geraud">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/geraud">Géraud Talandier</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Spécialiste Moyens de Paiement</h6>
					<p class="card-text">Contributeur</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/philip">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/philip">Philip Twomey</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Finance de marchés</h6>
					<p class="card-text">Contributeur</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/laure">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/laure">Laure Saunier</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Chef d'entreprise</h6>
					<p class="card-text">Référente</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/luc">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/luc">Luc Bertin-Hugault</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Chanteur Lyrique</h6>
					<p class="card-text">Contributeur</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/cecile">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/cecile">Cécile Twomey</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Professeur des écoles</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/elise">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/elise">Elise Bonifay</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Chef de projet</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/tancrede">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/tancrede">Tancrède Saunier</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Fund Controller</h6>
					<p class="card-text">Référent</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/melanie">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/melanie">Mélanie Mencarelli</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Directrice de boutique</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/sylvie">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/sylvie">Sylvie Tison</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Vétérinaire</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/nathalie">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/nathalie">Nathalie Combes</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Chargée de projets</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/sabine">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/sabine">Sabine Houdeville</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Vétérinaire</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/benoit">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/benoit">Benoît Cadet</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Directeur Administratif et Financier</h6>
					<p class="card-text">Contributeur</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/raul">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/raul">Raul Risi</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Responsable de Division</h6>
					<p class="card-text">Contributeur</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/eleonore">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/eleonore">Eléonore Gomot</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Juriste</h6>
					<p class="card-text">Contributrice</p>
				</div>
			</div>
		</div>
		<div class="col-16 col-md-8 col-xl-4 mt-4">
			<div class="card">
				<div class="p-2">
					<a href="/membres/gilles">
						<img src="/membres/images/user.svg" class="card-img-top" />
					</a>
				</div>
				<div class="card-body">
					<h5 class="card-title"><a href="/membres/gilles">Gilles Gavalda</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Chirurgien Dentistee</h6>
					<p class="card-text">Contributeur</p>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
	<div class="row flex-xl-nowrap">
		{{ if .Site.Params.editPage -}}
		{{ partial "main/edit-page.html" . }}
		{{ end -}}
	</div>
</section>
{{ end }}
